/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/AlpenBlue */

/*Linea de arcoiris en los menús principales*/
.panel-header + toolbarseparator::before { 
    border-image: var(--panel-separator-zap-gradient) 1 !important;
}

/* Tamaño menu Open */
#appMenu-popup panelview {
    width: 24em !important; 
}

/*Color fondo gradiente :hover por los diferentes items de menús principales*/
.protections-popup-category:hover, .protections-popup-footer-button:hover, #protections-popup-show-report-stack:hover > .protections-popup-footer-button,
 panelview .toolbarbutton-1:not([disabled], [open]):is(:hover), toolbarbutton.subviewbutton:not([disabled], [open],.subviewbutton-back):is(:hover), 
.navigable.subviewbutton:not([disabled], [open]):is(:hover), menu.subviewbutton:not([disabled])[_moz-menuhover],
 menuitem.subviewbutton:not([disabled])[_moz-menuhover], .widget-overflow-list .toolbarbutton-1:not([disabled], [open]):is(:hover),
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled], [open]):is(:hover) {
    background-image: var(--panel-separator-zap-gradient) ;
}

/* Alinear lista de pestañas sincronizadas */
.all-tabs-item {
    --panel-menuitem-margin-inline: 0px !important;
}

/* Fondo :hover botones de zoom */
#appMenu-zoom-controls2 > .subviewbutton:not([disabled]):is(:hover, :hover:active) { background: transparent !important }

/* Margins latest item in arrowpanel */
.subviewbutton.panel-subview-footer-button {
    --panel-menuitem-margin-inline: 4px !important;
    margin-inline: 4px !important;
}

/* Remove unwanted styles in 'tabgroup' 'hover' preview \
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */
#tabgroup-panel-content {
    background-color: transparent !important;
    box-shadow: none !important;
}