/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/AlpenBlue */

/*Imagenes superiores*/
#navigator-toolbox { background-image:  var(--lwt-additional-images) !important; background-repeat: var(--lwt-background-tiling) !important;
 background-position: var(--lwt-background-alignment) !important;}

/*Centrar botón "Open Newtab"*/
#TabsToolbar .toolbarbutton-1 {
    margin-top: -1px !important;
    margin-left: -1px !important;
}
/*favicon de pagina newtab*/
.tab-icon-stack .tab-icon-image[src="chrome://branding/content/icon32.png"] {
    background: url("../images/foxlogo.svg")!important;
    background-size: 16px !important;
    padding-left: 16px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
/*"tab_line": "#126e82"*/
#tabbrowser-tabs {--tab-line-color: transparent !important}
#tabbrowser-tabs { --lwt-tab-line-color: var(--gradient, transparent) !important; }

/*"Medidas menores para scroll de pestañas"*/
#tabbrowser-tabs{ --uc-tabs-scrollbutton-border: 0px !important; }
#scrollbutton-up, #scrollbutton-down{ border-block-width: var(--uc-tabs-scrollbutton-border,0px) !important; }

/*Regla para visualizar mejor el seleccionar varias pestañas*/
.tabbrowser-tab[multiselected]:-moz-lwtheme {
    color: var(--lwt-tab-text) !important;
    --tab-line-color: transparent !important;
}
.tabbrowser-tab[multiselected]>.tab-stack>.tab-background:is([multiselected]), .tabbrowser-tab>.tab-stack>.tab-content:is([multiselected]) {
    background: #4d4dfe !important;
}
/*Color de las pestañas no seleccionadas*/
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"], [multiselected]) {
  background-color: #4d4dfe50  !important;transition-duration: 0ms !important;
}
/* Reduce spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0px !important;
}
/*Linea gradiente en pestaña activa*/
.tabbrowser-tab .tab-stack {padding-left: 1px !important;}
.tabbrowser-tab .tab-background{height: 32px !important; margin-left: -1px !important; margin-right: -1px !important}
.tabbrowser-tab:not([pinned])[selected="true"] .tab-background {
    background-image: var(--gradient) !important;
    border-radius: 4px !important;
    height: 32px !important;
    margin-left: -1px !important;
    margin-right: -1px !important
}
.tabbrowser-tab .tab-content {margin-top: 3px !important; height: 30px !important;}
.tabbrowser-tab:not([pinned], [multiselected])[selected="true"] .tab-content:not([multiselected]) {
    background-image:  url("../images/tabbackground.png");
    border-radius: 4px !important;
    margin-top: 3px !important;
    height: 30px !important;
    transition-duration: 0ms !important;
    backdrop-filter: saturate(35%) brightness(10%) !important;
}
.tabbrowser-tab:is([pinned]):not([selected="true"]) .tab-background {height: 32px !important; margin-left: -1px !important; margin-right: -1px !important;}
.tabbrowser-tab:is([pinned])[selected="true"] .tab-background {
    background-image: var(--gradient) !important;
    border-radius: 4px !important;
    height: 32px !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
}
.tabbrowser-tab:is([pinned]):not([selected="true"]) .tab-content { margin-top: 3px !important; height: 30px !important;}
.tabbrowser-tab:is([pinned])[selected="true"]:not([multiselected]) .tab-content {
    background-image:  url("../images/tabbackground.png");
    border-radius: 4px !important;
    margin-top: 3px !important;
    height: 30px !important;
    backdrop-filter: saturate(35%) brightness(10%) !important;
}
