/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/AlpenBlue */

/*"toolbar_top_separator": "#17161c"*/
#navigator-toolbox{--lwt-tabs-border-color: #4d4dfe70 !important; }                 

/*"bookmark_text": "#b3d9ff"*/
.browser-toolbar:not(.titlebar-color) {color: #d3d3d3 !important;}              

/*"toolbar_bottom_separator"*/
#navigator-toolbox { border-bottom: 1px solid #190f29 !important;}

/*Vizualización correcta del porcentaje de zoom mostrado en la urlbar*/
#urlbar-zoom-button {padding: 0px 2px !important;}

/* "popup_highlight" -> 1.- keyboard highlight 2.-mouse highlight*/
.urlbarView-row:not([type="tip"], [type="dynamic"])[selected] > .urlbarView-row-inner, .urlbarView-row-inner[selected] {
    background-image: var(--panel-separator-zap-gradient) !important; color: #ffffff !important; }
.urlbarView-row:hover .urlbarView-url { 
    color: var(--toolbar-field-focus-color) !important; }
.urlbarView-row .urlbarView-url {
    font-weight: 501 !important}
.urlbarView-title{
    font-size: 1.06em !important; }
.urlbarView-tags, .urlbarView-url, .urlbarView-title:not(:empty) ~ .urlbarView-action { 
    font-size: 1.0em !important; 
}
/* Tamaño de la toolbar */
#nav-bar{ min-height: var(--toolbar-height-personal) !important;
}
/* tamaño letras urlbar */
#urlbar-input { opacity: 0.9 !important; font-weight: 501 !important;
}
/* ---------------------------> Urlbar y Search-bar <------------------------ */
/*linea colorida urlbar focus*/
#urlbar[open=true] #urlbar-background, #urlbar[focused=true] #urlbar-background {
    margin-bottom: 1px !important;
    margin-top: 1px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
}
#urlbar[focused=true] {
    background-image: linear-gradient(160deg, #aa00ff90 0%,#551dfc90,#2525ff, #1283bd90,#2525ff90, #551dfc90, #ff00ff90 100%);
    border-radius: 4px !important;
}
#urlbar[focused=true] #urlbar-background {
    background-color: #1b1a38 !important;
    border: #00000000 !important;
    box-shadow: none !important;
  border-radius: 3px !important;
}
#urlbar[open=true] {
    border-radius: 8px !important;
    margin-top: -1px !important;
    background-image: linear-gradient(160deg, #aa00ff90 0%,#551dfc,#2525ff, #1283bd,#2525ff, #551dfc, #ff00ff90 100%);
    backdrop-filter: blur(20px);
    max-height: -moz-available !important;
}
#urlbar[open=true] #urlbar-background {
    border-radius: 8px !important;
    background-color: #1b1a38 !important;
    animation-duration: 0ms !important;
    backdrop-filter: saturate(100%) brightness(0%);
    max-height: -moz-available !important;
}
#urlbar[breakout][breakout-extend]>#urlbar-input-container {
    margin-top: 1px !important;
    margin-bottom: 0px !important;
}

#urlbar{min-height: calc(var(--toolbar-height-personal) - 6px) !important;
}
/*Search-bar*/
#searchbar {
    min-height: calc(var(--toolbar-height-personal) - 6px) !important;
    max-height: calc(var(--toolbar-height-personal) - 6px) !important;
}
#searchbar:focus-within {
    border-color: #4d4dfe40 !important;
    box-shadow: none !important;
    background-color: var(--lwt-toolbar-field-focus) !important;
}
#PopupSearchAutoComplete {
    --uc-slot-radius: 0 0 4px 4px;
    margin-top: -3px !important;    
    border-radius: 0 0 4px 4px !important;
    --arrowpanel-border-color: #4d4dfe40 !important;
}
slot[part="content"] {
    border-radius: var(--uc-slot-radius, var(--panel-border-radius)) !important;
    background-color: var(--lwt-toolbar-field-focus) !important;
    color: white !important;
}

/* Páginas seguras de firefox */
    /* Label e ícono */
#identity-icon-label { 
    display: none !important; }
#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
    list-style-image: url("../images/foxFill.svg") !important; 
    -moz-context-properties: fill !important;
    fill: var(--lwt-toolbarbutton-icon-fill-attention) !important;
    width: 16px !important; 
    height: 16px !important; 
    margin-inline: -4px !important; }
#identity-box[pageproxystate="valid"].chromeUI .identity-box-button[open] #identity-icon{
    fill: var(--toolbarbutton-icon-fill) !important;
}
#identity-box[pageproxystate="valid"].notSecureText, #identity-box[pageproxystate="valid"].chromeUI, #identity-box[pageproxystate="valid"].extensionPage, #urlbar-label-box {
    margin-inline-end: 4px !important; }
#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button, #identity-box[pageproxystate="valid"].chromeUI > .identity-box-button, #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button, #urlbar-label-box {
    background-color: transparent !important; }
#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button:hover:not([open]), #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button:hover:not([open]) {
    background-color: color-mix(in srgb, var(--toolbarbutton-hover-background) 86%, white) !important; }
#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button[open="true"], #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button[open="true"] {
    background-color: color-mix(in srgb, var(--toolbarbutton-hover-background) 72%, white) !important;
}
/* alinear: "Conexión segura" en candado*/
#identity-popup-security-button {
    margin-bottom: 0px !important;
}
/*"Color verde de la descripción de web segura"*/
description#identity-popup-content-owner-label, description#identity-popup-content-owner, description#identity-popup-content-verifier, #identity-popup-securityView-body>button {
    color: #2cf62c !important
}
/*fondo :hover de íconos de la urlbar"*/
.urlbar-icon {
    margin-left: 2px !important
}
.identity-box-button:hover:not([open="true"]) {
    background-color: transparent !important;
}
#identity-icon-box:hover:not([open="true"]),#identity-permission-box:hover:not([open="true"]), #tracking-protection-icon-container:hover:not([open="true"]), 
.urlbar-page-action:not([disabled],[open="true"]):hover, #urlbar-go-button:hover, .search-go-button:hover, #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button:hover  {
    background-color: var(--toolbarbutton-hover-background) !important; 
}
/*fondo active de íconos de la urlbar"*/
#identity-icon-box[open="true"],#identity-permission-box[open="true"], #tracking-protection-icon-container[open="true"], .urlbar-page-action:not([disabled])[open="true"] , #urlbar-go-button[open="true"], .search-go-button[open="true"] ,
:not(.urlbar-icon-wrapper)>.urlbar-icon[open="true"], :not(.urlbar-icon-wrapper)>.urlbar-icon[open="true"], .urlbar-icon-wrapper[open="true"], .urlbar-icon-wrapper[open="true"], .identity-box-button[open="true"], #tracking-protection-icon-container[open="true"], 
.identity-box-button[open="true"] .urlbar-page-action:not([disabled]):hover, #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button[open="true"] {
    background-color: var(--toolbarbutton-active-background) !important;
}
/*Eliminar ícono de -sitio anclado- en las sugerencias de busqueda*/
.urlbarView-type-icon{
    display: none !important;
}
/*------------ toolbar autohide --------------------*/
/*
#nav-bar {
    --navbar-margin: -37px;
    margin-top: var(--navbar-margin);
    margin-bottom: 0;
    z-index: -100;
    transition: all 0.1s ease !important;
    opacity: 0;
}
#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar{
    --toolbar-bgcolor: #1e2035 !important;
    margin-top: 0;
    margin-bottom: var(--navbar-margin);
    z-index: 100;
    opacity: 1;
}
*/