/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/AlpenBlue */

/*WindowsControls borde redondeado*/

.titlebar-button:not(.titlebar-close) {
    padding-left: 14px !important;
    padding-right: 14px !important;
}
.titlebar-min, .titlebar-max, .titlebar-restore, .titlebar-close {
    border-radius: 0 0 4px 4px !important;
    margin-bottom: 2px !important
}
.titlebar-close:hover {
    border-radius: 0px 0 4px 4px !important;
}